@import '~bootstrap/scss/bootstrap.scss';

$loader-size: 128px;

.loader {
  position: absolute;
  height: $loader-size;
  width: $loader-size;
  left: calc(50% - #{$loader-size} / 2);
  top: calc(50% - #{$loader-size} / 2);
  color: #378abe;
  font-size: 2em;
}
.overlayContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .column {
    height: inherit;
    width: auto;
  }
}

@media (min-width: map-get($grid-breakpoints, sm)) {
  .overlayContainer {
    padding-left: calc((100% - #{map-get($grid-breakpoints, sm)}) * .66);
    padding-right: calc((100% - #{map-get($grid-breakpoints, sm)}) * .33);

    .column {
      border-left: 1px solid #333;
      border-right: 1px solid #333;
    }
  }
}