

.buttons {
  margin: 0 50px;

  .btnEmail {
    background-color: #d7433b;
    color: #fff;
  }
  .btnGithub {
    background-color: #333;
    color: #fff;
  }
  .btnGoogle {
    background-color: #fff;
    color: #333;
  }
  .btnFacebook {
    background-color: #3e5995;
    color: #fff;
  }
  .btnTwitter {
    background-color: #5daceb;
    color: #fff;
  }
}

@media (max-width: 490px) {
  .buttons {
    margin: 0 10px;
  }
}
